    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        font-family: "Calibri", sans-serif;
        background-color: #fafafa;
        overflow-x: hidden;
    }
    
    .app-container {
        width: 100%;
        max-width: 1125px;
        margin: 0 auto;
        position: relative;
        background-color: #fafafa;
        padding-bottom: 100px;
    }
    
    header,
    footer {
        max-width: 1125px;
        margin: 0 auto;
        position: relative;
    }
    /* header */
    /* INDEX PAGE */
    /* BODY Splash */
    
    body.index-page {
        height: 100vh;
        margin: 0;
        padding: 0;
        background: linear-gradient(-45deg, #f3a5da, #d1b1e0, #e1b3d2, #f3a5da);
        background-size: 400% 400%;
        animation: movingGradient 15s ease infinite;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-top: 200px;
        opacity: 1;
        transition: opacity 1s ease;
    }
    /* Zbehje e plotë e faqes */
    
    body.fade-out {
        opacity: 0;
    }
    /* Gradient që lëviz */
    
    @keyframes movingGradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .logo-box {
        width: 220px;
        height: 220px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    
    .logo-box img.logo {
        width: 90%;
        height: 90%;
        object-fit: contain;
        opacity: 0;
        clip-path: inset(0 100% 0 0);
        /* fillimisht e prerë komplet */
        animation: revealLogo 2.5s ease forwards;
    }
    
    @keyframes revealLogo {
        0% {
            clip-path: inset(0 100% 0 0);
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            clip-path: inset(0 0% 0 0);
            opacity: 1;
        }
    }
    
    .header {
        position: fixed;
        top: 0;
        /* left: 0; */
        width: 100vw;
        height: 217px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.6) 40%, rgba(255, 255, 255, 0) 100%);
        border-radius: 0 0 14px 14px;
        z-index: 999;
        pointer-events: none;
    }
    
    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3%;
        margin-top: 20px;
        width: 100%;
        padding: 0 5%;
    }
    
    .skinea_logo {
        width: 80px;
        height: auto;
        left: 46px;
    }
    
    .header a,
    .header .skinea_logo {
        pointer-events: auto;
    }
    
    .settings-icon {
        width: 30px;
        height: auto;
        pointer-events: auto;
    }
    /*SETTINGS POPUP*/
    /* Popup Overlay */
    
    .settings-popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        display: none;
        z-index: 999;
    }
    /* Popup Panel - gjithmonë nga poshtë lart */
    
    .settings-popup {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
        width: 100%;
        max-width: 1125px;
        height: 100%;
        background-color: #fafafa;
        z-index: 999;
        transition: transform 0.7s ease-in-out;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 14px 14px 0 0;
    }
    /* Back Button */
    
    .popup-back {
        width: 5px;
        height: 10px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    
    .popup-header {
        display: flex;
        align-items: center;
        gap: 35px;
        padding: 16px 20px 6px 16px;
        border-bottom: 1px solid transparent;
        margin-top: 10px;
    }
    
    .popup-header h2 {
        font-size: 24px;
        font-weight: bold;
        color: #292D32;
        margin-top: -15px;
        transform: translateY(-3px);
    }
    
    .popup-back {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    
    .popup-scroll-area {
        flex: 1;
        overflow-y: auto;
        padding: 12px 5px 30px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .popup-option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border-radius: 14px;
        padding: 14px 16px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
        font-family: 'Calibri', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #292D32;
        text-decoration: none;
    }
    
    .popup-option img {
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }
    
    .popup-option span {
        flex: 1;
        margin-left: 12px;
        white-space: nowrap;
    }
    
    .popup-option input[type="checkbox"] {
        transform: scale(1.1);
    }
    /* My Details veç */
    
    .popup-option.standalone {
        margin-bottom: 8px;
    }
    /* Grupi në një kuti */
    
    .options-group {
        background: #fff;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.03);
    }
    
    .details-dropdown {
        display: none;
        background: #ffffff;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        padding: 0px 20px;
        box-shadow: 0px 8px 12px -4px rgba(0, 0, 0, 0.1);
        /* vetem poshte dhe anash */
        margin-top: -33px;
        animation: fadeSlide 0.3s ease;
    }
    
    @keyframes fadeSlide {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    .detail-line {
        font-size: 18px;
        font-weight: bold;
        color: #F3A5DA;
        padding: 10px 0;
        border-bottom: 1px solid #f1f1f1;
    }
    
    .detail-group {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    
    .detail-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .detail-label {
        font-weight: bold;
        color: #292d32;
    }
    
    .detail-select,
    .detail-input {
        border: none;
        background: transparent;
        font-weight: bold;
        color: #F3A5DA;
        font-size: 16px;
    }
    
    .skin-section {
        padding: 0 16px 16px;
    }
    
    .skin-types {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
    }
    
    .skin-btn {
        padding: 8px 16px;
        border-radius: 20px;
        border: 1.5px solid #ccc;
        background: #fff;
        color: #292d32;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
    
    .skin-btn.selected {
        background: #f3a5da;
        border-color: #f3a5da;
        color: #fff;
        box-shadow: 0 0 0 3px #f3a5da33;
    }
    
    .issue-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
        padding-bottom: 16px;
    }
    
    .issue-btn {
        padding: 8px 16px;
        font-size: 14px;
        color: #292d32;
        border-radius: 20px;
        border: 1.5px solid #ccc;
        background: #fff;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.2s ease;
    }
    
    .issue-btn.selected {
        background: #f3a5da;
        color: white;
        border-color: #f3a5da;
        box-shadow: 0 0 0 3px #f3a5da33;
    }
    
    .skincolor-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 10px;
    }
    
    .skincolor {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        border: 2px solid transparent;
        transition: border 0.3s ease, box-shadow 0.2s ease;
    }
    
    .skincolor.selected {
        border: 2.5px solid #f3a5da;
        box-shadow: 0 0 0 3px #f3a5da33;
    }
    /* Ngjyra për çdo rreth */
    
    .color-1 {
        background: #fce9d6;
    }
    
    .color-2 {
        background: #f5d3b3;
    }
    
    .color-3 {
        background: #ddb78d;
    }
    
    .color-4 {
        background: #a3724e;
    }
    
    .color-5 {
        background: #704b30;
    }
    
    .color-6 {
        background: #3e2a1c;
    }
    
    .logout-container {
        display: flex;
        justify-content: center;
        margin: 30px 0 20px;
    }
    
    .logout-btn {
        background: linear-gradient(135deg, #efb2fa, #f793cd);
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 12px 30px;
        border: none;
        border-radius: 24px;
        cursor: pointer;
        /* transition: background 0.3s ease; */
    }
    
    .logout-btn:hover {
        background: linear-gradient(135deg, #fa8bd7, #ef70cb);
    }
    /* 🧩 HOME PAGE WIDGETS */
    
    .widget-cards-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        gap: 20px;
        width: 100%;
        padding: 10px 16px;
        box-sizing: border-box;
    }
    
    @media (max-width: 550px) {
        .widget-cards-section {
            padding: 20px 10px;
            padding-bottom: 8px;
        }
    }
    
    .large-widget {
        width: 90%;
        max-width: 100%;
        height: 190px;
        border-radius: 14px;
        box-shadow: 0px 5px 16px 1px rgba(76, 76, 76, 0.25);
        position: relative;
        overflow: hidden;
    }
    
    .small-widgets-row {
        display: flex;
        gap: 20px;
        justify-content: center;
        width: 90%;
        max-width: 100%;
    }
    
    .small-widget {
        width: 50%;
        height: 150px;
        border-radius: 14px;
        box-shadow: 0px 5px 16px 1px rgba(76, 76, 76, 0.25);
        position: relative;
        overflow: hidden;
    }
    
    .widget-card {
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: flex-end;
        transition: transform 0.1s ease;
        /* animacion i butë */
    }
    
    .widget-card:active {
        transform: scale(0.96);
        /* zvogëlim i lehtë pa prishur layout-in */
    }
    
    .widget-card img,
    .widget-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
        border-radius: 14px;
    }
    /* Widget style i ri */
    
    .widget-content {
        display: flex;
        flex-direction: column;
        /* ⬅️ orientimi vertikal */
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        gap: 10px;
    }
    
    .widget-icon-png {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
    
    .widget-label {
        font-size: 1.1rem;
        font-weight: bold;
        color: white;
        font-family: "Calibri", sans-serif;
        text-align: center;
    }
    /* Gradients specifikë për çdo widget */
    
    .scan-bg {
        background: linear-gradient(133.49deg, #DFBCF1 0%, #AC8BBD 100%);
    }
    
    .ai-bg {
        background: linear-gradient(135.71deg, #93c8ff 31.18%, #2f72f6 100%);
    }
    
    .routine-bg {
        background: linear-gradient(135.71deg, #fda4ba 31.18%, #ef476f 100%);
    }
    /* Layout për ekranet 550px+ */
    
    @media (min-width: 550px) {
        .widget-cards-section {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            padding-left: 40px;
            padding-right: 40px;
        }
        .large-widget {
            flex: 0 0 70%;
            height: 240px;
        }
        .small-widgets-row {
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            flex: 0 0 30%;
            height: 240px;
        }
        .small-widget {
            width: 100%;
            height: 110px;
        }
    }
    /*WIDGETS PRODUCT*/
    
    .widget-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        flex-direction: row;
        align-items: left;
        padding: 20px 25px 30px;
        gap: 20px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 20px;
        margin-top: 90px;
        z-index: 1;
    }
    
    .widget {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        width: 95px;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        /* për mobile safari */
        outline: none;
        /* heq border blu kur fokusohet */
        user-select: none;
        /* mos e përzgjedh tekstin rastësisht */
    }
    
    .widget * {
        pointer-events: auto;
    }
    
    .widget-icon {
        width: 80px;
        height: 80px;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .routine-bg {
        background: linear-gradient(133.49deg, #DFBCF1 0%, #AC8BBD 100%);
    }
    
    .wishlist-bg {
        background: linear-gradient(135.71deg, #F3A5DA 31.18%, #D173B4 100%);
    }
    
    .widget-icon img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
    
    .widget-label {
        font-size: 20px;
        font-weight: bold;
        font-family: "Calibri", sans-serif;
        font-style: normal;
        color: #292D32;
        text-align: left;
    }
    /* products frame */
    
    .product-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0 10px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 20px;
        margin-top: 20px;
    }
    
    .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .view-all-link {
        font-family: 'Calibri', sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        padding: 5px 15px;
        text-decoration: none;
        color: #F3A5DA;
        cursor: pointer;
        text-decoration: underline;
        white-space: nowrap;
        /* 💡 Ky e mban gjithmonë në një rresht */
    }
    
    .section-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 22px;
        gap: 30px;
        width: 100%;
        font-family: 'Calibri', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: #292D32;
    }
    
    .filter-tabs {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px 10px 15px;
        gap: 15px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        border-radius: 20px;
        /* për të hequr scrollbar vizualisht në shumicën e shfletuesve */
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    
    .filter-tabs::-webkit-scrollbar {
        display: none;
    }
    
    .tab {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        height: 40px;
        background: #FAFAFA;
        border-radius: 24px;
        font-family: 'Calibri', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 1px;
        color: #292D32;
        border: none;
        cursor: pointer;
    }
    
    .tab.active {
        background: #FBE3EF;
    }
    
    @media (max-width: 768px) {
        .filter-tabs {
            flex-wrap: nowrap;
            overflow-x: auto;
        }
    }
    /* .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 170px);
    gap: 20px;
    padding: 0 20px;
    justify-content: center;
    box-sizing: border-box;
} */
    /* .product-card {
    flex: 0 0 auto;
    background: white;
    border-radius: 14px;
    overflow: hidden;
    width: 170px;
    height: auto;
    border: 1.5px solid #F0F0F0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
} */
    
    .card-top {
        position: relative;
        width: 100%;
        height: 180px;
        overflow: hidden;
    }
    
    .product-photo {
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
        object-position: center;
        display: block;
    }
    
    .wishlist-container {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        /* background: rgba(255, 250, 245, 0.3); */
        background: rgba(236, 231, 231, 0.21);
        backdrop-filter: blur(20.5px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        border: none;
        cursor: pointer;
        padding: 0;
    }
    
    .wishlist-icon {
        width: 16px;
        height: 16px;
    }
    
    .card-bottom {
        width: 100%;
        background: rgb(255, 255, 255);
        border-top-left-radius: 20px;
        border-top-right-radius: 0px;
        padding: 10px 8px 7px;
        /* pak padding poshtë që mos ngjitet shumë ngushtë */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;
        position: relative;
        /* ➔ jo absolute më */
        margin-top: -23px;
        /* ➔ ngjitu pak mbi foto, pa problem */
    }
    
    .skin-type {
        font-size: 12.5px;
        font-family: "Calibri", sans-serif;
        font-weight: bold;
        color: white;
        padding: 3px 12px;
        border-radius: 14px;
        display: inline-block;
        margin-bottom: 6px;
    }
    
    .skin-all {
        background: #B695E0;
    }
    
    .skin-normal {
        background: #DCA6B2;
    }
    
    .skin-dry {
        background: #9DDBDE;
    }
    
    .skin-oily {
        background: #E5CE9D;
    }
    
    .skin-combination {
        background: #A9D8BE;
    }
    
    .skin-dry-combo {
        background: #81dac7;
    }
    
    .skin-oily-combo {
        background: #b8e993;
    }
    
    .brand-name {
        font-size: 12px;
        font-family: "Calibri", sans-serif;
        color: #555;
        width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }
    
    .product-name {
        font-size: 15px;
        font-family: "Calibri", sans-serif;
        font-weight: bold;
        color: #292D32;
        width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }
    /* POPUP section */
    
    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        /* mund ta bësh rgba(0,0,0,0.3) për blur */
        z-index: 1000;
        display: none;
    }
    
    .popup-overlay.active {
        display: block;
    }
    
    .product-popup {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 90%;
        background: linear-gradient(180deg, #FFFFFF 0%, #FDFDFD 24.04%, #FAFAFA 100%);
        border-radius: 40px 40px 0 0;
        box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.1);
        transition: bottom 0.4s ease-in-out, opacity 0.3s ease;
        z-index: 1001;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding: 20px 12px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
    }
    /* Kur hapet popup-i */
    
    .product-popup.open {
        bottom: 0;
        opacity: 1;
    }
    /* Home Indicator në popup */
    
    .popup-indicator {
        width: 110px;
        height: 5px;
        background: #504949;
        border-radius: 100px;
        margin: 0 auto 20px auto;
        position: sticky;
        top: 8px;
        /* ose 0px sipas preferencës */
        z-index: 10;
        /* për të qenë mbi përmbajtjen që scroll-on */
    }
    /* Përmbajtja */
    
    .product-popup-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* Hiqet touch-action: none që të funksionojë scroll-i */
    }
    /* Seksionet */
    
    .popup-product {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    
    .popup-image-container {
        position: relative;
        width: 100%;
        max-width: 370px;
    }
    
    .popup-product-photo {
        width: 100%;
        height: auto;
        border-radius: 14px;
        object-fit: cover;
    }
    /* Wishlist që qëndron brenda fotos */
    /* .wishlist-container-popup {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 75px;
        height: 75px;
        background: rgba(236, 231, 231, 0.21);
        backdrop-filter: blur(10px);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    } */
    
    .wishlist-container-popup {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-25%, -25%);
        width: 75px;
        height: 75px;
        background: rgba(236, 231, 231, 0.21);
        backdrop-filter: blur(10px);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    
    .popup-wishlist-icon {
        width: 40px;
        height: 40px;
    }
    
    .popup-product-name {
        text-align: center;
        margin-top: 20px;
    }
    
    .popup-brand-name {
        font-size: 20px;
        font-weight: 400;
        color: #363535;
    }
    
    .popup-product-name-bold {
        font-size: 24px;
        font-weight: 700;
        color: #292D32;
        margin-top: 4px;
    }
    
    .buy-button {
        margin-top: 20px;
        padding: 15px 30px;
        background: linear-gradient(102deg, #f0a9ce 17.71%, #d583b3 90.75%);
        color: white;
        font-size: 20px;
        font-weight: 700;
        border-radius: 40px;
        border: none;
        cursor: pointer;
    }
    
    .popup-section {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 30px 20px;
    }
    
    .popup-section h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
        color: #292D32;
    }
    
    .popup-text {
        font-size: 20px;
        color: #292D32;
        line-height: 1.4;
    }
    /* Animacioni i uljes popup-it */
    
    @keyframes closePopup {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(100%);
            opacity: 0;
        }
    }
    /* Klasë për animacionin e mbylljes */
    
    .closing-popup {
        animation: closePopup 0.3s ease forwards;
    }
    /* vetem per blog sesion html */
    
    .blog-section {
        margin-top: 100px;
    }
    
    .myroutine-section {
        margin-top: 100px;
    }
    /* vetem per seksionet horizontale html */
    
    .horizontal-scroll-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 0px 15px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 20px;
        margin-top: 20px;
    }
    
    .horizontal-grid {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 10px 10px 15px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        border-radius: 20px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: max-content;
        max-width: 100%;
    }
    /* vetem per wishlist html */
    
    .wishlist-section {
        margin-top: 100px;
    }
    
    .favourite-product-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 0px 20px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 20px;
        margin-top: 20px;
    }
    
    .favourite-product-section .section-title {
        margin-bottom: 10px;
        /* ose 40px për më shumë hapësirë */
    }
    /* vetem per BLOG html */
    
    .blog-card {
        position: relative;
        width: 170px;
        height: 200px;
        background: #FFFFFF;
        border-radius: 14px;
        overflow: hidden;
        flex: 0 0 auto;
    }
    
    .blog-image {
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
    }
    
    .blog-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 22px 7px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 51.75%, rgba(255, 255, 255, 0.01) 100%);
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
    }
    
    .blog-type {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 2px 8px;
        border-radius: 14px;
        font-family: 'Calibri', sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 1px;
        color: #FFFFFF;
        margin-bottom: 0px;
        width: fit-content;
        height: 20px;
    }
    
    .badge-icon {
        width: 14px;
        height: 14px;
        object-fit: contain;
    }
    
    .badge-text {
        font-family: 'Calibri', sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 1px;
        color: #FFFFFF;
    }
    
    .blog-title {
        font-family: 'Calibri', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        color: #2D2D2D;
        margin: 0;
    }
    /*BLOG STORIES */
    /* Popup background */
    
    .story-popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
    /* Story content */
    
    .story-content {
        position: relative;
        width: 100%;
        max-width: 500px;
        height: 100vh;
        background: #000;
        border-radius: 0;
        overflow: hidden;
    }
    /* Story image */
    
    .story-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: black;
    }
    
    .story-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: black;
        display: none;
        /* fillimisht e fshehim */
    }
    /* Bars top */
    
    .story-bars {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        display: flex;
        gap: 5px;
        z-index: 10;
    }
    /* Single bar */
    
    .story-bar {
        flex: 1;
        background: rgba(255, 255, 255, 0.3);
        height: 4px;
        border-radius: 2px;
        overflow: hidden;
        position: relative;
    }
    /* Fill of each bar */
    
    .story-bar-fill {
        background: white;
        height: 100%;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        animation: progressAnimation 5s linear forwards;
    }
    /* Close button */
    
    .close-btn {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 30px;
        color: white;
        cursor: pointer;
        z-index: 20;
    }
    /* Progress animation */
    
    @keyframes progressAnimation {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    /* Close story animation */
    
    @keyframes closeStory {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(0.3);
            opacity: 0;
        }
    }
    
    .closing-animation {
        animation: closeStory 0.1s ease forwards;
    }
    /* Desktop adjustments */
    
    @media (min-width: 768px) {
        .story-content {
            width: 90%;
            max-width: 500px;
            height: 700px;
            margin-top: 50px;
            border-radius: 15px;
        }
        .story-image {
            object-fit: contain;
        }
    }
    /* SCAN PAGE SPECIAL STYLES */
    
    .scan-section {
        margin-top: 80px;
        position: relative;
        padding-top: 30px;
        /* pak hapsirë për ikonën sipër */
    }
    
    .scan-title {
        color: #ff6b81;
    }
    
    .info-icon-container {
        max-width: 400px;
        margin: 0 auto 10px auto;
        /* pozicionuar lart, me hapësirë poshtë */
        padding: 0 20px;
        display: flex;
        justify-content: flex-start;
    }
    
    .info-icon-container img {
        width: 22px;
        height: 22px;
        cursor: pointer;
    }
    
    .scan-container {
        /* shumë e rëndësishme */
        max-width: 400px;
        margin: 10px auto;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .drop-area {
        width: 100%;
        height: 200px;
        border: 2px dashed #ccc;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        background-color: #f0f0f0;
    }
    
    .drop-area img {
        width: 50px;
        opacity: 0.5;
    }
    
    .drop-area p {
        margin-top: 10px;
        color: #777;
    }
    
    .image-container img {
        width: 100%;
        border-radius: 10px;
        margin-top: 10px;
    }
    
    .progress-bar {
        width: 100%;
        background-color: #eee;
        border-radius: 10px;
        margin-top: 5px;
        overflow: hidden;
    }
    
    .progress {
        height: 20px;
        border-radius: 10px;
        text-align: center;
        line-height: 20px;
        color: white;
        font-weight: bold;
    }
    
    .pink-bar {
        background-color: #ff6b81;
    }
    
    .orange-bar {
        background-color: #ff9f43;
    }
    
    .time-container {
        margin-top: 10px;
        font-size: 14px;
        color: #555;
    }
    /* CHAT PAGE SPECIAL STYLES */
    
    .chat-page-container {
        /* background: #f9f9f9; */
        background-color: #fafafa;
        height: 100vh;
        width: 100%;
        max-width: 1125px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
    /* Header fikse sipër */
    
    .chat-header {
        background: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 20px;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        max-width: 1125px;
        margin: 0 auto;
        z-index: 1000;
    }
    
    .chat-logo {
        width: 80px;
        height: auto;
    }
    
    .back-button img {
        width: 9px;
        height: auto;
        cursor: pointer;
    }
    /* Zona e mesazheve që bëhet scroll */
    
    .chat-messages {
        position: absolute;
        top: 80px;
        /* Pas header-it */
        bottom: 85px;
        /* Sipër input-it */
        left: 0;
        right: 0;
        overflow-y: auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    /* Bubble e mesazheve */
    
    .message-bubble {
        max-width: 70%;
        padding: 12px 18px;
        font-size: 16px;
        font-family: "Calibri", sans-serif;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    /* Formë bubble specifike */
    
    .user-message {
        background: #ffffff;
        align-self: flex-end;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
        border-radius: 18px 18px 0px 18px;
    }
    
    .bot-message {
        background: #fff3f8;
        align-self: flex-start;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
        border-radius: 18px 18px 18px 0px;
    }
    /* Input-i fikse poshtë */
    
    .chat-input-container {
        background: #ffffff;
        position: fixed;
        bottom: 25px;
        left: 10px;
        right: 10px;
        width: 90%;
        max-width: 1125px;
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 14px;
        display: flex;
        align-items: flex-end;
        /* Shumë e rëndësishme: input dhe send të vendosen në fund */
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        gap: 10px;
    }
    
    .input-area {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    /* Teksti që zmadhohet automatikisht */
    
    .chat-input {
        width: 100%;
        padding: 10px 10px;
        border: none;
        outline: none;
        font-size: 16px;
        font-family: "Calibri", sans-serif;
        max-height: 200px;
        resize: none;
        overflow-y: auto;
        border-radius: 8px;
    }
    /* Send butoni */
    
    .send-button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
        /* Mos qëndrojë në mes */
        justify-content: center;
        padding-bottom: 5px;
        /* Opcionale, pak më ulët */
    }
    
    .send-button img {
        width: 28px;
        height: auto;
    }
    /*FOOTER*/
    
    .footer {
        position: fixed;
        bottom: 0;
        /* left: 0; */
        width: 100%;
        height: 163px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0.6) 40%, #ffffff 100%);
        display: flex;
        justify-content: space-around;
        padding: 6px 0;
        z-index: 2;
    }
    
    .footer-nav {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        padding-bottom: 15px;
        box-sizing: border-box;
    }
    
    .footer-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Calibri", sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #292D32;
        background: none;
        border: none;
        text-decoration: none;
        /* Kjo heq vijën poshtë */
    }
    
    .footer-btn.active span {
        color: #F3A5DA;
    }
    
    .footer-btn img {
        width: 40px;
        height: 40px;
        margin-bottom: 2px;
    }
    
    .home-indicator {
        position: absolute;
        bottom: 8px;
        /* pak hapësirë nga fundi */
        left: 50%;
        transform: translateX(-50%);
        width: 134px;
        height: 5px;
        background: #AFAFAF;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
    }
    
    .home-indicator img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /* Telefona shumë të vegjël */
    /* PËR EKRANE SHUMË TË VEGJËL: një kartë në qendër që zmadhohet */
    
    .product-card {
        flex: 0 0 auto;
        background: white;
        border-radius: 14px;
        overflow: hidden;
        width: 170px;
        height: auto;
        border: 1.5px solid #F0F0F0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        position: relative;
    }
    
    .products-grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(170px, 210px));
        gap: 8px;
        padding: 8px;
        box-sizing: border-box;
    }
    /* 1 kartë, nga 0 deri 351px */
    
    @media (max-width: 160px) {
        .products-grid {
            display: grid;
            grid-template-columns: repeat(1, minmax(10px, 220px));
            justify-content: center;
            align-items: center;
            gap: 12px;
            padding-left: 1px;
            padding-right: 1px;
        }
        .products-grid.product-card {
            min-width: 150px;
            max-width: 220px;
            width: 100%;
            box-sizing: border-box;
        }
    }
    
    @media (min-width: 160px) and (max-width: 186px) {
        .products-grid {
            display: grid;
            grid-template-columns: repeat(1, minmax(70px, 220px));
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding-left: 5px;
            padding-right: 5px;
        }
        .products-grid.product-card {
            min-width: 150px;
            max-width: 220px;
            width: 100%;
            box-sizing: border-box;
        }
    }
    
    @media (min-width: 186px) and (max-width: 260px) {
        .products-grid {
            display: grid;
            grid-template-columns: repeat(1, minmax(150px, 220px));
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .products-grid.product-card {
            min-width: 150px;
            max-width: 220px;
            width: 100%;
            box-sizing: border-box;
        }
    }
    
    @media (min-width: 260px) and (max-width: 300px) {
        .products-grid {
            display: grid;
            grid-template-columns: repeat(1, minmax(150px, 220px));
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding-left: 40px;
            padding-right: 40px;
        }
        .products-grid.product-card {
            min-width: 150px;
            max-width: 220px;
            width: 100%;
            box-sizing: border-box;
        }
    }
    
    @media (min-width: 300px) and (max-width: 351px) {
        .products-grid {
            display: grid;
            grid-template-columns: repeat(1, minmax(150px, 220px));
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding-left: 63px;
            padding-right: 63px;
        }
        .products-grid.product-card {
            min-width: 150px;
            max-width: 220px;
            width: 100%;
            box-sizing: border-box;
        }
    }
    /* 2 karta, 351px deri 516px */
    
    @media (min-width: 351px) and (max-width: 380px) {
        .products-grid {
            display: grid;
            grid-template-columns: repeat(2, minmax(150px, 205px));
            gap: 12px;
            padding-left: 3px;
            padding-right: 3px;
        }
        .products-grid.product-card {
            min-width: 150px;
            max-width: 205px;
            width: 100%;
            box-sizing: border-box;
        }
    }
    
    @media (min-width: 380px) and (max-width: 392px) {
        .products-grid {
            display: grid;
            grid-template-columns: repeat(2, minmax(150px, 205px));
            gap: 20px;
            padding-left: 18px;
            padding-right: 18px;
        }
        .products-grid.product-card {
            min-width: 150px;
            max-width: 205px;
            width: 100%;
            box-sizing: border-box;
        }
    }
    
    @media (min-width: 392px) and (max-width: 427px) {
        .products-grid {
            display: grid;
            grid-template-columns: repeat(2, minmax(150px, 205px));
            gap: 20px;
            padding-left: 22px;
            padding-right: 22px;
        }
        .products-grid.product-card {
            min-width: 150px;
            max-width: 205px;
            width: 100%;
            box-sizing: border-box;
        }
    }
    
    @media (min-width: 427px) and (max-width: 516px) {
        .products-grid {
            display: grid;
            grid-template-columns: repeat(2, minmax(190px, 240px));
            gap: 18px;
            padding-left: 18px;
            padding-right: 18px;
        }
        .products-grid.product-card {
            min-width: 190px;
            max-width: 240px;
            width: 100%;
            box-sizing: border-box;
        }
    }
    /* 3 karta, 516px deri 723px */
    
    @media (min-width: 516px) and (max-width: 551px) {
        .products-grid {
            display: grid;
            grid-template-columns: repeat(3, minmax(130px, 170px));
            gap: 12px;
            padding: 5px;
        }
        .products-grid.product-card {
            min-width: 130px;
            max-width: 165px;
            width: 100%;
            box-sizing: border-box;
        }
    }
    
    @media (min-width: 551px) and (max-width: 566px) {
        .products-grid {
            display: grid;
            grid-template-columns: repeat(3, minmax(150px, 170px));
            gap: 10px;
            padding: 10px;
        }
    }
    
    @media (min-width: 566px) and (max-width: 723px) {
        .products-grid {
            grid-template-columns: repeat(3, minmax(170px, 210px));
            gap: 15px;
            padding: 18px;
        }
    }
    /* 4 karta, 723px deri 900px */
    
    @media (min-width: 723px) and (max-width: 748px) {
        .products-grid {
            grid-template-columns: repeat(4, minmax(170px, 210px));
            gap: 10px;
            padding: 8px;
        }
    }
    
    @media (min-width: 748px) and (max-width: 900px) {
        .products-grid {
            grid-template-columns: repeat(4, minmax(170px, 210px));
            gap: 14px;
            padding: 14px;
        }
    }
    /* 5 karta, 900px deri 1109px */
    
    @media (min-width: 900px) and (max-width: 965px) {
        .products-grid {
            grid-template-columns: repeat(5, minmax(170px, 210px));
            gap: 10px;
            padding: 8px;
        }
    }
    
    @media (min-width: 965px) and (max-width: 1110px) {
        .products-grid {
            grid-template-columns: repeat(5, minmax(170px, 210px));
            gap: 16px;
            padding: 16px;
        }
    }
    /* 6 karta, 1110px+ */
    
    @media (min-width: 1110px) {
        .products-grid {
            grid-template-columns: repeat(6, minmax(170px, 210px));
            gap: 15px;
            padding: 15px;
        }
    }